@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & {
      -moz-appearance: textfield;
    }
  }

  .bordered-text {
    text-shadow: -1px -1px 0 #d14d28, 1px -1px 0 #d14d28, -1px 1px 0 #d14d28, 1px 1px 0 #d14d28;
  }

  .bordered-achievement {
    text-shadow: -1px -1px 0 #6d6d6d, 1px -1px 0 #6d6d6d, -1px 1px 0 #6d6d6d, 1px 1px 0 #6d6d6d;
  }
}
