@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FakePearl-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

@layer components {
  .no-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & {
      -moz-appearance: textfield;
    }
  }

  .stroke-text {
    position: relative;
    color: #faad14;
  }

  .stroke-text::before {
    content: attr(data-stroke);
    position: absolute;
    color: #d14d28;
    -webkit-text-stroke: 4px #d14d28;
    text-stroke: 4px #d14d28;
    z-index: -1;
  }
}
