@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-spinner {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & {
      -moz-appearance: textfield;
    }
  }

  .stroke-text {
    position: relative;
    color: #faad14;
  }

  .stroke-text::before {
    content: attr(data-stroke);
    position: absolute;
    color: #d14d28;
    -webkit-text-stroke: 4px #d14d28;
    text-stroke: 4px #d14d28;
    z-index: -1;
  }
}
